.slideIn {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: #0f0f0f;
	transform-origin: bottom;
	z-index: 1;
}

.slideOut {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: #0f0f0f;
	transform-origin: top;
	z-index: 1;
}
